html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

div {
  padding: 0px;
  margin: 0px;
}

header {
  height: 20%;
  background-color: yellow;
}

section {
  height: 72%;
  background-color: lightblue;
}

nav {
  background-color: orange;
  /* height: 72%; */
}

footer {
  height: 8%;
  background-color: purple;
}

.container {
  display: flex;
}
