html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

header {
  background-color: yellow;
}

form {
  background-color: pink;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
